body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
   /* border: 1px solid black; */
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset -5px -5px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 25px;
    backdrop-filter: blur(10px);

}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;

  

}

th {
    background-color: white;
}

.updateBtn {
    background-color: #4CAF50;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    

}

.updateBtn:hover {
    background-color:black;
}

.deleteBtn {
    background-color: #f44336;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.deleteBtn:hover {
    background-color: #f17e7e;
}

#checkoutBtn {
    background-color:hsl(161, 34%, 38%);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#checkoutBtn:hover {
    background-color: #007b9a;
}